@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid grey;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    /*Personaliza o estilo da barra de rolagem no WebKit (Chrome e Safari)*/
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    /*Personaliza o estilo da barra de rolagem no WebKit (Chrome e Safari)*/
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    /*Personaliza o estilo da barra de rolagem no WebKit (Chrome e Safari)*/
    background: #fff;
    border-radius: 5rem;
}

body {
    background-color: var(--bg);
    color: white;
}

/*Começo do Header*/

header {
    background-color: var(--bg);
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.637);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    margin: 0 4em;
}

.logo img {
    width: 4em;
    border-radius: 50%;
}

.Navegação ul {
    display: flex;
}

.Navegação ul li {
    padding-left: 1.5em;
}

.Navegação ul li a {
    color: white;
}

.Navegação ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid red;
    padding-bottom: 0.4em;
    transition: 0.5s;
}

.Icons i {
    padding-left: 1.5em;
}

.Icons i:hover {
    color: var(--main-color);
    transition: 0.5s;
    cursor: pointer;
}

/*FIM do Header*/

 /*Começo da sessão Bem Vindo*/
.containerBemVindo {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    padding: 1em;
    width: 100%;
    height: 75vh;
}

.BemVindoTexto {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 45%;
    margin-left: 5em;
}

.BemVindoTexto h1 {
    font-size: 5em;
}

.BemVindoTexto p {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.btn {
    padding: 1em;
    background-color: var(--main-color);
    border-radius: 5px;
    width: 12em;
    color: white;
    margin-top: 1.5em;
}

.btn:hover {
    width: 15em;
    transition: 0.5s;
    letter-spacing: 0.2em;
}
 /*Fim da sessão Bem Vindo*/

/*Começo da sessão Sobre Nós*/
 .containerSobreNos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
 }

 .SobreNosCard {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid white;
    border-radius: 12px;
 }

.SobreNosTexto {
    font-size: 18px;
}

.SobreNosTexto h2, p {
    padding: 0.5em;
}

 .SobreNosCard img {
    width: 75%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
 }
 
/*FIM da sessão Sobre Nós*/

/*Começo da sessão Menu*/
.menu h1{
    text-align: center;

}

.containerMenu {
    display: grid;
    /* Organiza os elementos internos em um layout de grade */
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    /* Cria colunas flexíveis com largura mínima de 30rem e máxima proporcional */
    gap: 1em;
    /* Define o espaçamento entre os itens da grade */
    margin: 2em;
}

.menuCardConteudo {
    padding: 2rem;
    /* Adiciona espaçamento interno ao redor do conteúdo da caixa */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    border: var(--border);
    /* Aplica uma borda ao redor da caixa */
    background: var(--bg-card);
    /* Define a cor de fundo da caixa */
}

.menuCardConteudo:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.menuCardConteudo img{
    height: 12em;
    border-radius: 100%;
    padding-bottom: 1em;
}

.menuCardConteudo p, h3 {
    font-size: 1.5em;
}

.PromoCards i {
    border: 1px solid white;
    padding: 0.5em;
    margin-bottom: 1em;
}

.MenuCardPromocao img {
    border-radius: 0;
}
/*Fim da sessão Menu*/

.menuCardConteudoComentario {
    font-size: 14px;
    height: 32em;
}

.menuCardConteudoComentario img {
    width: 10em;
}
